* {
  box-sizing: border-box;
}

body {
 margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('cost-of-developing-an-expense-tracking-app.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #1e272e;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h2, h3 {
  text-align: center;
  margin-bottom: 10px;
}

.balance {
  text-align: center;
  margin: 20px 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  background: #34495e;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.summary div {
  flex: 1;
  text-align: center;
}

.money {
  font-size: 1.2rem;
  margin-top: 5px;
}

.plus {
  color: #2ecc71;
}

.minus {
  color: #e74c3c;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 6px;
}

form button {
  padding: 10px;
  background: #e67e22;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

form button:hover {
  background: #d35400;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.list li {
  background: #2f3542;
  padding: 10px;
  margin: 8px 0;
  border-right: 5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list li.plus {
  border-color: #2ecc71;
}

.list li.minus {
  border-color: #e74c3c;
}

.delete-btn {
  background: transparent;
  border: none;
  color: #ccc;
  font-size: 1.1rem;
  cursor: pointer;
}
